{% extends "base.html" %} {% block content %}

<div class="mb-4 rounded-sm">
  <a href="/add-listing/" class="text-blue-500 bg-gray-200 p-2"
    >Create a new listing</a
  >
</div>

{% for listing in listings %}

<div class="mt-2 px-3 py-2 bg-gray-100 rounded-sm">
  <h3 class="text-3xl text-gray-900">{{listing.title}}</h3>
  <img src="{{listing.image.url}}" alt="" class="w-1/2 my-2" />
  <a href="/listings/{{listing.id}}" class="text-blue-500">View details</a>
</div>

{% endfor %} {% endblock content %}
